
# Created by https://www.gitignore.io/api/vapor

### Vapor ###
Config/secrets

### Vapor Patch ###
Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
Archiver.xcodeproj/project.xcworkspace/xcuserdata
Archiver.xcodeproj/xcuserdata
# End of https://www.gitignore.io/api/vapor
