<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>BCrypt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Branches.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>CHTTP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>CSQLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Cache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Configs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Console.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Cookies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Crypto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Debugging.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Fluent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>FluentProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>FluentTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>FormData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>HTTP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>JSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Multipart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Node.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>PathIndexable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Random.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Routing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Run.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>SMTP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SQLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>Sessions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Sockets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>TLS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Testing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Transport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>URI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Vapor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>WebSockets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>libc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1060</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1069</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1071</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1084</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1124</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1135</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1169</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1315</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1355</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1359</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1365</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1441</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1535</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1557</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1568</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1610</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1642</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2142</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2161</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2206</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2350</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2414</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2535</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2557</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2568</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2843</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_800</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_807</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_839</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_907</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_914</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_948</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_960</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_977</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
